.window {
  border-radius: 0;
  background: ##DAF7A6;
}

.titel {
  width: 100%;
  position: absolute;
  max-width: 100vw;
  top: 0px;
  /* border-bottom:  1px solid #321fdb; */
}



.wave {
  position: fixed;
  top: 10;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background: #00000000;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.myDiv {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  background: #00000000;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}


